{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Medicamentos</title>
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/logo.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>
<body>
    <div class="angry-grid">
        <div id="inicioinv">&nbsp;
            <div class="container">
                <h1>Registro de Medicamentos</h1>
                <form action="procesar_registro.php" method="post">
                    <div class="form-group">
                        <label for="nombre">Nombre del medicamento:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
        
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" required></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="labotatorio">Laboratorio:</label>
                        <input type="text" id="labotatorio" name="labotatorio" required>
                    </div>
        
                    <div class="form-group quantity-input">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" name="cantidad" min="1" required>
                    </div>
        
                    <input type="submit" value="Registrar">
                </form>
            </div>
        </div>
    <div id="informacioninv">&nbsp;
        
    </div>
</body>
</html>