{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/logo.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>
<body>
    <div class="angry-grid">
        <div id="inicioinv">&nbsp;
            <div class="container">
                <h1>Stock de Medicamentos</h1>
                <div class="category">
                    <h2>Analgésicos</h2>
                    <div class="product">
                        <img src="{% static '../static/img/celecoxib.jpg' %}" alt="Medicamento 1">
                        <div class="info">
                            <div class="name">Celecoxib</div>
                            <div class="description">El celecoxib es un medicamento antiinflamatorio no esteroideo indicado para el alivio del dolor </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="medicamento2.jpg" alt="Medicamento 2">
                        <div class="info">
                            <div class="name">Medicamento 2</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="medicamento3.jpg" alt="Medicamento 3">
                        <div class="info">
                            <div class="name">Medicamento 3</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <h2>Antibióticos</h2>
                    <div class="product">
                        <img src="medicamento4.jpg" alt="Medicamento 4">
                        <div class="info">
                            <div class="name">Medicamento 4</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="medicamento5.jpg" alt="Medicamento 5">
                        <div class="info">
                            <div class="name">Medicamento 5</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="medicamento6.jpg" alt="Medicamento 6">
                        <div class="info">
                            <div class="name">Medicamento 6</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="informacioninv">&nbsp;
        
    </div>
</body>
</html>