{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuste</title>
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/logo.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>

<body>
    <div class="angry-grid">
        <div id="loginajuste">&nbsp;
            <div class="informacion">
                <img class="perfilajuste" src="{% static '../static/img/ajustespg.png' %}" alt="inicio" />
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnidioma" type="button" role="button">Idioma</a>
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnmodonoc" type="button" role="button">Modo Nocturno</a>
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnaccesibilidad" type="button" role="button">Accesibilidad</a>
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnacercade" type="button" role="button">Acerca de nosotros</a>
            </div>
        </div>
        <div id="informacionajuste">&nbsp;

        </div>
    </div>
</body>

</html>