{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preinscripcion</title>
    <link rel="icon" type="image/x-icon" href="{% static '../static/img/logo.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>

<body>
    <div class="angry-grid">
        <div id="loginpre">&nbsp;
            <div class="informacion">
                <img class="perfilpre" src="{% static '../static/img/prescripcionespg.png' %}" alt="inicio" />
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnverpre" type="button" role="button">ver prescripcion</a>
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnanpre" type="button" role="button">Anular prescripcion</a>
            </div>
            <div class="botones">
                <a href="{% url 'menu' %}" class="btnvolverpre" type="button" role="button">volver</a>
            </div>
 
        </div>
    <div id="informacionpre">&nbsp;
        
    </div>
    </div>
</body>

</html>