* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     min-height: 100vh;
     font-family: Arial; 
    }

.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
 }
   
 #login {
 
    background-color: #5892b6; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 4;
    width: 550px;
    height: 850px;
    text-align: none;
    position: relative;
 }
 #informacion {
 
    background-color: #ffff; 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 5;
    grid-column-end: 6;
    
 }

 #inicioinv {
 
    background-color: #5892b6; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 4;
    width: 850px;
    height: 850px;
    text-align: none;
    position: relative;
 }
 #informacioninv {
 
    background-color: #ffff; 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 5;
    grid-column-end: 6;
    
 }

img.inicio{
    float: left; 
    left: 180px;
    position: relative;
    top: 80px;
    width: 190px;
    z-index: 1;
}


.nombre{
    float: left; 
    height: 150px;
    left: 90px;
    position:unset;
    margin-top: 300px;
    width: 150px;
    z-index: 1;
    margin-left: -80px;
}



.input-label{
    position: relative;
    color: aliceblue;
    transform-origin: left center;
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 15px;
      box-sizing: border-box;
      padding: 10px 35px;
      display: block;
      position: absolute;
      margin-top: -40px;
      z-index: 2;
      pointer-events: none;
      text-transform: uppercase;
}

.input-text{
    line-height: 0;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    padding: 10px 50px;
    border-radius: 60px;
    background-color: #707070;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    border-style: double;
    color: #ffff;
}

.password{
    float: left; 
    height: 150px;
    left: 90px;
    margin-top: 50px;
    width: 150px; 
}


.input-label-contraseña{
    position: relative;
    color: aliceblue;
    transform-origin: left center;
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 15px;
      box-sizing: border-box;
      padding: 10px 55px;
      display: block;
      position: absolute;
      margin-top: -40px;
      z-index: 2;
      pointer-events: none;
      text-transform: uppercase;
}

.olvido{
    display: flex;
    color: #ffff;
    position: absolute;
    margin-top: 150px;
    margin-left: 90px;
}

.bienvenidos{
    text-transform: uppercase;
    margin-top: 20px;
    left: 20px;
    color: #5892b6;
    font-size: 50px;
}

.inventario{
    text-transform: uppercase;
    margin-top: 20px;
    left: 20px;
    color: #5892b6;
    font-size: 80px;
}

img.informacion{
    float: left; 
    left: -100px;
    position: relative;
    top: 80px;
    width: 500px;
    z-index: 1;
}

.nombre-cesfam{
    left: 600px;
   position: absolute;
    top: 500px;
    font-weight: 700;
}

.btnayuda{
    left: 1100px;
    position: absolute;
    top: 500px;
    appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  color: #FFFFFF;
  padding: 10px 70px;
}

.fecha{
    left: 600px;
   position: absolute;
    top: 520px;
}

.btningresar{
    left: 180px;
    position: absolute;
    top: 550px;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  color: #FFFFFF;
  padding: 10px 70px;
  border-radius: 20px;
}

.btningresarregistro{
    left: 180px;
    position: absolute;
    top: 630px;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  color: #FFFFFF;
  padding: 10px 70px;
  border-radius: 20px;
}

a{
    list-style: none;
}

img.registro{
    float: left; 
    left: 180px;
    position: relative;
    top: 20px;
    width: 190px;
    z-index: 1;
}


.nombreregistro{
    float: left; 
    height: 150px;
    left: 90px;
    position:unset;
    margin-top: 250px;
    width: 150px;
    z-index: 1;
    margin-left: -80px;
}


.input-textregistro{
    line-height: 0;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    padding: 10px 50px;
    border-radius: 60px;
    background-color: #707070;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    border-style: double;
    color: #ffff;
}

.recordarpassword{
    float: left; 
    height: 150px;
    left: 90px;
    margin-top: 50px;
    width: 150px; 
}


.aregistro{
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 200px;
    text-transform: uppercase;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 120%;
    margin-top: 20px;
    margin-left: 80px;
}    .select select {
    text-transform: uppercase;
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 15px 24px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 16px;
        background: #dddddd;
        color: #454545;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #cccccc;
        }
        .select select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 17px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #5892b6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.btnregistrar{
    left: 180px;
    position: absolute;
    top: 570px;
  background-color: #363636;
  border: 2px solid #363636;
  color: #FFFFFF;
  padding: 10px 60px;
  border-radius: 20px;
}

.btnstock{
    background-color: transparent;
    padding: 20px;
}

ul.stocka{
    text-transform: uppercase;
    position: absolute;
    margin-left: 60px;
    margin-top: 88px;
    color:#FFFFFF ;
    font-size: small;
}

ul.registroul{
    text-transform: uppercase;
    position: absolute;
    margin-top: 110px;
    color:#FFFFFF ;
    font-size: small;
    margin-left: -30px;
}

ul.retiroul{
    text-transform: uppercase;
    position: absolute;
    margin-top:150px;
    color:#FFFFFF ;
    font-size: small;
}

.stock{
    margin-top: 200px;
    margin-left: 100px;
    display: inline-block;
    padding: 20px 40px;
}



ul.medic{
    text-transform: uppercase;
    position: absolute;
    margin-top: 115px;
    color:#FFFFFF ;
    text-align: center;
    margin-left: 35px;
    font-size: small;
}

.medicamentos{
    display:inline-flex;
    margin-top: 200px;
    margin-left: 100px;
}

.registromedicamento{
    display:inline-flex;
    margin: 20px 130px;
    margin-left: 170px;
}

.retirodemedicamento{
    display:inline-flex;
    padding: 20px 40px;
}

img.retiroinv{
    margin-top: 40px;
}

img.medicament{
    padding: 20px;
}


.imginventario{
    padding: 80px;
}