* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     min-height: 100vh; 
    }

.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
 }
   
 #login {
 
    background-color: #388fb1; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 4;
    width: 830px;
    height: 625px;
    text-align: none;
    position: relative;
 }
 #informacion {
 
    background-color: #777777; 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 5;
    grid-column-end: 6;
    
 }

img.inicio{
    float: left; 
    height: 150px;
    left: 300px;
    position: relative;
    top: 80px;
    width: 150px;
    z-index: 1;
}


.nombre{
    float: left; 
    height: 150px;
    left: 180px;
    position: relative;
    top: 250px;
    width: 150px;
    z-index: 1;
}