{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>
<body>
    <div class="angry-grid">
        <div id="inicioinv">&nbsp;
            <nav class="menu">
            <div class="stock">
                <a href="{% url 'menu' %}" class="btnstock" type="button"><ul class="stocka">stock</ul><img class="stockinvimg" src="{% static '../static/img/stockinv.png' %}"></a>
            </div>
            <div class="medicamentos">
                <a href="{% url 'menu' %}" class="btnmedicamento" type="button"><ul class="medic">medicamentos</ul><img class="medicament" src="{% static '../static/img/medicamentosinv.png' %}"></a>
            </div>
            <div class="registromedicamento">
                <a href="{% url 'menu' %}" class="btnregistro" type="button"><ul class="registroul">Registro de medicamentos</ul><img class="registromed" src="{% static '../static/img/registrodemedicantosinv.png' %}"></a>
            </div>
            <div class="retirodemedicamento">
                <a href="{% url 'menu' %}" class="btnretiro" type="button"><ul class="retiroul">Retiro de medicamentos</ul><img class="retiroinv" src="{% static '../static/img/retiroinv.png' %}"></a>
            </div>
        </nav>
        </div>
    <div id="informacioninv">&nbsp;
        <div class="inventario">
            <a class="inventario">Inventario</a>
        </div>
        <img class="imginventario" src="{% static '../static/img/inventarioimg.png' %}"
    </div>
</body>
</html>