{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>
<body>
    <div class="angry-grid">
        <div id="login">&nbsp;
            <nav class="inicio"> <img class="inicio" src="{% static '../static/img/logologin.png' %}" alt="inicio" /></nav>
            <form>
            <div class="nombre">
                <label for="input" class="input-label">Ingrese nombre de usuario</label>
                <input type="text" id="input" class="input-text">
            <div class="password">
                <label for="input" class="input-label-contraseña">ingrese contraseña</label>
                <input type="password" id="input" class="input-text">
            </div>
            </div>
            </form>
        </div>
        <div id="informacion">&nbsp;</div>
      </div>
</body>
</html>