{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>

<body>

    <div class="angry-grid">
        <div id="login">&nbsp;
            <nav class="menu">
                <div class="medicamentos">
                    <a href="{% url 'menu' %}" class="btnmedicamento" type="button"><ul class="medic">Inventario</ul><img class="retiroinv" src="{% static '../static/img/inventario.png' %}"></a>
                </div>
            <div class="medicamentos">
                <a href="{% url 'menu' %}" class="btnmedicamento" type="button"><ul class="medic">Perfil</ul><img class="retiroinv" src="{% static '../static/img/Perfil.png' %}"></a>
            </div>
            <div class="medicamentos">
                <a href="{% url 'menu' %}" class="btnmedicamento" type="button"><ul class="medic">Buscar</ul><img class="retiroinv" src="{% static '../static/img/Buscar.png' %}"></a>
            </div>
            <div class="retirodemedicamento">
                <a href="{% url 'menu' %}" class="btnretiro" type="button"><ul class="retiroul">Reservas</ul><img class="retiroinv" src="{% static '../static/img/reservas.png' %}"></a>
            </div>
            <div class="retirodemedicamento">
                <a href="{% url 'menu' %}" class="btnretiro" type="button"><ul class="retiroul">Preescripciones</ul><img class="retiroinv" src="{% static '../static/img/prescripciones.png' %}"></a>
            </div>
            <div class="retirodemedicamento">
                <a href="{% url 'menu' %}" class="btnretiro" type="button"><ul class="retiroul">Ajustes</ul><img class="retiroinv" src="{% static '../static/img/ajustes.png' %}"></a>
            </div>
        </nav>
        </div>
    
    <div id="informacion">&nbsp;
        <div class="menu">
            <a class="inventario">Menú</a>
        </div>
            <img class="menuimg" src="{% static '../static/img/menu.png' %}">
        
    </div>
</body>

</html>