{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>

<body>

    <div class="angry-grid">
        <div id="loginmenu">&nbsp;
            <div class="menu">
                <div class="medicamentos">
                    <a href="{% url 'inventario' %}" class="btnmedicamento" type="button">
                        <ul class="inventario">Inventario</ul><img class="retiroinv"
                            src="{% static '../static/img/inventario.png' %}">
                    </a>
                </div>
                <div class="medicamentos">
                    <a href="{% url 'perfil' %}" class="btnmedicamento" type="button">
                        <ul class="perfil">Perfil</ul><img class="retiroinv"
                            src="{% static '../static/img/Perfil.png' %}">
                    </a>
                </div>
                <div class="medicamentos">
                    <a href="{% url 'buscar' %}" class="btnmedicamento" type="button">
                        <ul class="buscar">Buscar</ul><img class="retiroinv"
                            src="{% static '../static/img/Buscar.png' %}">
                    </a>
                </div>
                <div class="retirodemedicamento">
                    <a href="{% url 'reserva' %}" class="btnretiro" type="button">
                        <ul class="reserva">Reservas</ul><img class="retiroinv"
                            src="{% static '../static/img/reservas.png' %}">
                    </a>
                </div>
                <div class="retirodemedicamento">
                    <a href="{% url 'prescripcion' %}" class="btnretiro" type="button">
                        <ul class="prescripcion">Preescripciones</ul><img class="retiroinv"
                            src="{% static '../static/img/prescripciones.png' %}">
                    </a>
                </div>
                <div class="retirodemedicamento">
                    <a href="{% url 'ajustes' %}" class="btnretiro" type="button">
                        <ul class="ajuste">Ajustes</ul><img class="retiroinv"
                            src="{% static '../static/img/ajustes.png' %}">
                    </a>
                </div>
            </div>
        </div>

        <div id="informacionmenu">&nbsp;
            <div class="menu">
                <a class="inventario">Menú</a>
            </div>
            <img class="menuimg" src="{% static '../static/img/menu.png' %}">

        </div>
</body>

</html>