{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" rel="stylesheet" href="{% static '../static/css/style.css' %}">
</head>

<body>
    <div class="angry-grid">
        <div id="login">&nbsp;
            <div class="labelregistro">
            <a class="aregistro">Registro</a>
        </div>
            <nav class="registro"> <img class="registro" src="{% static '../static/img/logologin.png' %}" alt="inicio" />
            </nav>
            <form>
                <div class="nombreregistro">
                    <label for="input" class="input-label">Ingrese nombre de usuario</label>
                    <input type="text" class="input-textregistro">
                    <div class="password">
                        <label for="input" class="input-label-contraseña">ingrese contraseña</label>
                        <input type="password" class="input-textregistro">
                    <div class="recordarpassword">
                            <label for="input" class="input-label-contraseña">Confirmar contraseña</label>
                            <input type="password" class="input-textregistro">   
                            <div class="select">
                                <select>
                                    <option>Selecionar</option>
                                    <option>Medico</option>
                                    <option>Farmaceutico</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                            <a href="{% url 'menu' %}" class="btningresar" type="button" role="button">Ingresar</a>
                        <div class="olvido-contraseña">
                            <a class="olvido" href="">¿Olvido su contraseña?</a>
                        </div>
                    </div>
                </div> 
                </div>
        </div>
        </form>
    <div id="informacion">&nbsp;
        <div class="bienvenido">
            <a class="bienvenidos">bienvenido</a>
        </div>
        <div class="informacion">
            <img class="informacion" src="{% static '../static/img/medico.png' %}" alt="inicio" />
        </div>
        <div class="nombree">
            <a class="nombre-cesfam">Cesfam "sin nombre"</a>
            <a class="fecha">2023</a>
        </div>
        <div class="ayuda">
            <button class="btnayuda" role="button"> Ayuda</button>
        </div>
    </div>
    </div>
</body>

</html>